version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: parking-db
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
          test: [ "CMD", "mysqladmin" ,"ping", "-h", "localhost" ]
          timeout: 20s
          retries: 10

  user-service:
    build:
      context: ./backend
      dockerfile: user-service/Dockerfile
    container_name: user-service
    ports:
      - "8081:8081"
    depends_on:
      db:
        condition: service_healthy
    environment:
      - DB_HOST=db
      - DB_PASSWORD=${MYSQL_ROOT_PASSWORD}
    restart: on-failure

  parking-service:
    build:
      context: ./backend
      dockerfile: parking-service/Dockerfile
    container_name: parking-service
    ports:
      - "8082:8082"
    depends_on:
      db:
        condition: service_healthy
      user-service:
        condition: service_started
    environment:
      - DB_HOST=db
      - DB_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - USER_SERVICE_URL=http://user-service:8081
    restart: on-failure

volumes:
  mysql_data: